/* Extracted from W3.CSS by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* End of extracted css */
/* LT.CSS 1.0 September 2021 by James Lemon (copyright 2021 fallbrooklemontech.com)*/
body  {
display: block;
height: auto;
width: 100%;
background-color: rgb(255, 255, 255);
color: black;
margin: 5px;}

header {
text-align: left;
left: 0;
top: 0;
padding: 15px;}

nav li {
    list-style-type: none;
    background-color: rgb(48, 46, 46);
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

nav a:link {
    list-style-type: none;
    text-decoration: none;
}

h1    {
text-align: left;
font: 18pt, bold;
padding: 10px;}

h2 {
    text-align: left;
    font: 15pt, bold;
    padding: 10px;
}


#content-wrapper {
box-align: left;
padding: 20px;}

/* 

#page-heading {}
.content {} .content-heading {} .content-text {}
#content-#001 {} #content-#002 {} 
#content-#003 {} #content-#004 {} #content-#005 {}
#article-#001 {} #article-#002 {}
#article-#003 {} #article-#004 {} #article-#005 {}

*/
		  
footer {
    padding-top:32px!important;
    padding-bottom:32px!important;
    padding:0.01em 16px;
    left: 0;
    bottom: 0; }

/* #copyright {} */